@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #1db954;
  --pink: #ff74a4;
  --black: #000000;
  --drak-gray: #181818;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  user-select: none;
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--pink);
}

.wrapper {
  display: flex;
}
/* Menu Music */
.menu {
  width: 15vw;
  height: 85vh;
  background-color: var(--black);
}
.menu header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
}
.menu header .img-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 5px;
  background-size: cover;
  /* background: var(--pink); */
}
.menu header span {
  font-size: 20px;
  color: white;
}
.menu ul {
  list-style: none;
}
.menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 16px;
  color: white;
  transition: all 0.5s;
}
.menu ul li:hover {
  cursor: pointer;
  background-color: var(--pink);
}

/* Playlist */
.playlist-bar {
  width: 85vw;
  height: 85vh;
  background-color: #121212;
}
.playlist {
  width: 85vw;
  height: 75vh;
  margin-top: 10vh;
  overflow-y: scroll;
  z-index: 9999;
}
.playlist::-webkit-scrollbar {
  width: 8px;
}
.playlist::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #898989;
}
.playlist-bar header {
  width: 85vw;
  height: 10vh;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #121212;
}
.playlist-bar header span {
  color: white;
  font-size: 24px;
}
/* .playlist nav {
  margin-top: 63px;
} */
.playlist .song {
  width: 80vw;
  height: 10vh;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}
.playlist .song .left .head {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playlist .left {
  display: flex;
  align-items: center;
}
.playlist .left .song-img {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin: 0 10px 0 0;
}
.playlist .title .name {
  font-size: 16px;
}
.playlist .title .artist {
  font-size: 14px;
  color: #999;
}
.playlist .song .right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.playlist .song .right .duration {
  margin: 20px;
}
.playlist .song .right .option {
  padding: 10px;
  font-size: 18px;
  visibility: hidden;
}
.playlist .song:hover {
  background-color: #2a2a2a;
}
.playlist .song:hover .option {
  visibility: visible;
}

/* Music Player */
.music-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 15vh;
  bottom: 0;
  border-top: 1px solid #282828;
  background-color: var(--drak-gray);
}
.music-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  margin-left: 16px;
}
.music-name .music-img {
  width: 60px;
  height: 60px;
  border-radius: 3px;
  background-size: cover;
  margin-right: 10px;
  background-color: #1db954;
}
.music-name .name {
  font-size: 16px;
}
.music-name .artist {
  font-size: 14px;
  color: #b3b3b3;
}

.music-player .left,
.music-player .right {
  width: 25vw;
  height: 15vh;
  position: relative;
  display: flex;
  align-items: center;
}

/* Center */
.center {
  width: 50vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
}
/* progress */
.progress {
  width: 100%;
  height: 4px;
  background-color: #5e5e5e;
  border-radius: 10px;
  margin-top: 10px;
}
.progress .progress-bar {
  position: relative;
  height: inherit;
  width: 0%;
  border-radius: inherit;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5;
}
.progress:hover .progress-bar {
  background-color: var(--primary-color);
}
.progress-bar::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}
.progress:hover .progress-bar::before {
  opacity: 1;
}
.progress .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.progress .time span {
  font-size: 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-top: 3px;
}
/* Controls */
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 10px 0;
}
.controls button {
  background: none;
  outline: none;
  border: none;
}
.controls button i {
  font-size: 20px;
  margin: 0 16px 0 16px;
}
.controls #btn-play {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 10px;
}
#btn-play:hover {
  box-shadow: 0px 0px 10px 10px rgba(165, 36, 137, 0.1);
  transform: scale(1.1);
}
#btn-random,
#btn-prev,
#btn-next,
#btn-playback-time {
  color: #bababa;
}
#btn-random:hover,
#btn-prev:hover,
#btn-next:hover,
#btn-playback-time:hover {
  color: white;
}
/* Volume */
.volume {
  position: absolute;
  right: 16px;
  color: white;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.volume .btn-volume {
  border: none;
  outline: none;
  background: none;
}
.volume .btn-volume i {
  color: white;
  margin-right: 10px;
}
.volume input {
  align-items: center;
  width: 80%;
}
input[type="range"] {
  -webkit-appearance: none;
  outline: none;
  height: 4px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.15), -3px -1px 5px rgba(0, 0, 0, 0.15);
}
